.container {
    text-align: center;
}

.title {
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    color: #26ffce;
    padding-left: 15px;
}

.reset, .Cash, .Connect {
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin-top: 25px;
    margin-bottom: 50px;
}

.boxes {
    height: 180px;
    width: 180px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
    display: flex; /* Use flexbox to align items within the box */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    box-sizing: border-box; /* Ensure padding and borders are included in the total dimensions */
}

.board {
    display: flex;
    flex-direction: column; /* Ensures rows are aligned vertically */
    align-items: center; /* Centers rows horizontally */
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: center; /* Centers boxes horizontally within each row */
    margin-bottom: 10px; /* Adjust spacing between rows */
}

.boxes img {
    max-width: 75%; /* Ensure image does not overflow the box */
    max-height: 75%; /* Ensure image does not overflow the box */
    object-fit: contain; /* Maintain aspect ratio and fit within the box */
}
.title img{
    padding: 20px 20px;
    height: 50px;
}
